<div *ngIf="topic === undefined">
    <app-loading message="Buscando Pauta"></app-loading>
</div>

<div *ngIf="topic!==undefined" class="background">
    <div class="content">
        <div class="header">
            <h1>Detalhes da Pauta</h1>
            <button class="button-signout" mat-mini-fab color="primary" (click)="gotoHome()">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div>
            <app-topic-detail [topic]="topic"></app-topic-detail>
        </div>
        <div>
            <app-session-timer [session]="topic.sessions[0]"></app-session-timer>
        </div>
        <div>
            <app-topic-result [topic]="topic"></app-topic-result>
        </div>
    </div>
</div>