votacao-frontend/node_modules
votacao-frontend/.vscode

votacao-backend/node_modules
votaoca-backend/.vscode

votacao-frontend/.env
votacao-backend/.env
votacao-backend/coverage

votacao-backend/dist
votacao-frontend/dist

votacao-frontend/.angular
votacao-frontend/tmp
votacao-frontend/out-tsc
votacao-frontend/bazel-out