.background {
    height: 100%;
    width: 100%;
    align-items: start;
    justify-content: center;
    display: flex;
}

.header {
    padding-top: 20px;
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 780px;
    width: 100%;
    flex-flow: column;
    align-items: end;
    flex-direction: end;
    justify-content: end;
    align-items: center;
}

.text-under {
    text-align: center;
}