<div class="background">
    <div class="content">
        <!-- header title and home button -->
        <div class="header">
            <h1 class="header-text">Usuários</h1>
            <div>
                <button class="button-home" mat-mini-fab color="primary" (click)="goToHome()">
                    <mat-icon>home</mat-icon>
                </button>
                <div class="text-under">
                    Voltar
                </div>
            </div>
        </div>
        <div>
            <div class="scroll">
                <div class="card" *ngIf="(users$|async) as users">
                    <div *ngFor="let user of users; index as i">
                        <app-user-card [user]="user"></app-user-card>
                    </div>
                </div>
            </div>

            <!-- error message -->
            <div class="error-message" *ngIf="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
        </div>
    </div>

    <!-- loading spinner -->
    <ng-template #loading>
        <app-loading class="loading" message="Carregando Pautas"></app-loading>
    </ng-template>