.topic-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.topic-form {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    ;
}

.mat-form-field {
    display: contents;
    max-width: 700px;
    width: 80%;
}

.create-button {
    margin: auto;
    display: block;
    margin-top: 20px;
    max-width: 120px;
    width: 100%;
}