<div class="topic-div">
    <form class="topic-form">
        <div>
            <h2>Nova Pauta</h2>
            <mat-form-field class="mat-form-field">
                <input matInput placeholder="Descrição" [(ngModel)]="description" name="description">
            </mat-form-field>

            <mat-form-field class="mat-form-field">
                <input matInput placeholder="Categoria" [(ngModel)]="category" name="category">
            </mat-form-field>

            <mat-form-field class="mat-form-field">
                <input matInput type="number" placeholder="Duração" [(ngModel)]="duration" name="duration" min="0">
                <mat-hint align="end">Tempo em minutos</mat-hint>
            </mat-form-field>
        </div>
        <button class="create-button" mat-raised-button color="primary" (click)="createTopic()">Criar</button>
    </form>
</div>