.buttons-div {
    margin: 2px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-vote {
    border-radius: 20px;
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.vote-options {
    display: flex;
    flex-direction: column;
}

.buttons-div {
    display: flex;
    flex-direction: row;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.form-cpf {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}


.vote-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-left: 1px;
    padding: 0px;

}

.valid-session-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.yes-button {
    margin: 5px
}

.no-button {
    margin: 5px
}