.root {
    justify-content: center;
    width: 100%;
    max-width: 780px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bar {
    width: 100%;
    max-width: 780px;
}

.bar-div {
    max-width: 780px;
    width: 100%;
}

.text-line {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}