.background {
    background-color: #e3e3e9;
    height: 100%;
    width: 100%;
}

.root {
    width: 100%;
    max-width: 780px;
}

.content {
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.header {
    font-size: 24px;
    font-weight: 500;
    padding: 0px;
}

.card {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.category {
    margin-bottom: 30px;
}

.topic-header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1px;
}

.topic-description {
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 1px;
}

.category-header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1px;
}

.category-text {
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 1px;
}