<div class="root">
    <mat-card class="card">
        <div>
            <mat-card-header class="card-header">Informações</mat-card-header>
        </div>
        <div class="div-topic">
            <p class="topic-header">Pauta</p>
            <p class="topic-description">{{topic.description}}</p>
        </div>
        <div class="div-category">
            <p class="category-header">Categoria</p>
            <p class="category-text">{{topic.category}}</p>
        </div>
    </mat-card>
</div>