<div *ngIf="topic === undefined">
    <app-loading message="Buscando Pauta"></app-loading>
</div>

<div *ngIf="topic !== undefined" class="background">
    <div class="root">
        <div class="content">
            <div class="header-div">
                <h1 class="header">Votação</h1>
                <button class="button-signout" mat-mini-fab color="primary" (click)="goToHome()">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div class="details-div">
                <app-topic-detail [topic]="topic"></app-topic-detail>
            </div>

            <div class="vote-div">
                <app-vote-component [topic]="topic"></app-vote-component>
            </div>
        </div>
    </div>
</div>