.background {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    align-items: start;
    justify-content: center;
    display: flex;

}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 450px;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-card {
    border-radius: 20px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 450px;
}

.fields {
    padding: 20px;
}

mat-form-field {
    width: 100%;
}

.mat-card-header {
    text-align: center;
}

.mat-card-actions {
    justify-content: center;
}

.mat-error {
    color: red;
}

.signup {
    margin: 5px;
}

.go-back {
    margin: 5px;
}